xhtml
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  body
    h1 Hola,
    p
      | Tu tarea <a href="http://#{domain}/project/#{node._project}/show?task=#{node._id}">#{node.title}</a> esta terminada, por favor haz clic <a href="http://#{domain}/signin">aquí</a> para iniciar sesión y ver.
