xhtml
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  body
    h1 Hello
    p
      | #{username} mentioned you in the comment, on task: <a href="http://#{domain}/project/#{node._project}/show?task=#{node._id}">#{task}</a>.
    p
      | #{text}
    p
      | Click <a href="http://#{domain}/signin">here</a> to log in.